*{
    margin: 0;
    padding: 0;
}
.form{
    margin: 10px auto 10px auto;
    width: 250px;
}

.card_container{
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    gap: 30px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    /* height: 100px; */
    width: 18%;
    border: 1px solid black;
}
.card img{
    height: 200px;
    width:100% ;
    object-fit: cover;
}
p{
    text-align: center;
}